In [ ]:
# Lists >> Collection of different types of variables

Steps : 
1. Import Library
2. Take user input
3. Convert user input 
4. Make operations

In [1]:
import math

In [2]:
no1 = int(input("Enter number : "))

Enter number : 10

In [3]:
no2 = int(input("Enter number : "))

Enter number : 10

In [4]:
no3 = int(input("Enter number : "))

Enter number : 10

In [5]:
no4 = int(input("Enter number : "))

Enter number : 10

In [6]:
list1 = [no1,no2]

In [7]:
list2 = [no3,no4]

In [8]:
list3 = list1 + list2

In [9]:
list3

[10, 10, 10, 10]

Ohh No !!!!!!!

What to do now?

Remember this.

We will answer how to do this..

In [ ]:
# -------------------------------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX------------------------------------

In [ ]:
# Dictionaries

In [10]:
d = {'Alice':80,'Bob':70, 'Jane':98}

In [11]:
d

{'Alice': 80, 'Bob': 70, 'Jane': 98}

In [21]:
e = dict(Alice =  80,Bob=70, Jane =  98)

In [23]:
e

{'Alice': 80, 'Bob': 70, 'Jane': 98}